#team {
  padding: 75px 0;
}
.team_wrap {
  margin: 0 -15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: stretch;
}
.team_card {
  margin: 0 15px 20px;
  width: 250px;
  // height: 250px;
  display: flex;
  flex-direction: column;
  // flex: 1 1 auto;
}

.team_img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.team_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.team_name {
  text-align: start;
  margin-top: 30px;
  font-family: "Raleway";
  font-weight: 700;
  text-transform: capitalize;
  font-size: $_24px;
  color: $_black;
}
.team_status {
  margin-top: 6px;
  font-family: "Raleway";
  font-weight: 400;
  text-transform: capitalize;
  font-size: $_18px;
  color: $_red_b_n_a;
}
.team_text {
  margin-top: 18px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: $_18px;
  color: $_grey_text;
  flex: 1 1 auto;
}
.team_social-icons {
  margin-top: 38px;
}

.social_view {
  display: flex;
}
.social_view--item {
  margin-right: 5px;
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
}
.fa-brands {
  line-height: 39px;
  color: #c6cbcd;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 1024px) {
  .team_status {
    font-size: $_14px;
  }
  .team_text {
    font-size: $_14px;
  }
  .team_wrap {
    justify-content: center;
  }
  .team_name {
    font-size: $_18px;
  }
}
@media (max-width: 1100px) {
  .team_img {
    width: 225px;
    height: 225px;
  }
  .team_wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team_card {
    margin: 0 70px 20px;
  }
}
@media (max-width: 790px) {
  .team_wrap {
    flex-direction: column;
    align-items: center;
  }
  .team_img {
    width: 350px;
    height: 350px;
  }
  .team_name {
    font-size: $_30px;
    text-align: left;
  }
  .team_status {
    font-size: $_24px;
    text-align: left;
  }
  .team_card {
    width: 80%;
    align-items: center;
    margin: 20px 0;
  }
  .team_text {
    font-size: $_18px;
    text-align: left;
  }
}
@media (max-width: 390px) {
  .team_img {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
  }
  .team_card {
    margin: 20px 0;
  }
  .team_name {
    font-size: $_18px;
  }
  .team_status {
    font-size: $_14px;
  }
  .team_text {
    font-size: $_14px;
  }
}
